.main-container {
    margin-top: 70px;
}

.open-events-container {
    max-height: 400px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;;
}

.open-events-container .event {
    max-height: 390px;
    width: 200px;
    overflow: hidden;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #F2F2F2;
}

.open-events-container .event .event-img {
    height: 100px;
    overflow: hidden;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.open-events-container .event .event-details {
    padding: 5px;
}

.open-events-container .event .event-details h3 {
    font-size: 18px;
}

.open-events-container .event .event-details p {
    color: #B9B9B9;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.open-events-container .event .event-details .btn-container {
    text-align: right;
}
